@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
	background-color: #c8cbcc;
	margin:0;
	min-height:100vh;
}
#mainBox{
	position:relative;
	width:100vw;
	height:100vh;
}
canvas{
	display:block;
	background:transparent;
	width:100%;
	height:100%;
}
#title{
	position:absolute;
	z-index:10;
	font-family: 'Open Sans', sans-serif;
font-size:45px;
width:400px;
left:200px;
top:100px;
  color:white;
}
