@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{

	background-color: black;
	position:absolute;
}
#mainBox{
	position:absolute;
	left:70%;
}
canvas{
	position:absolute;
	opacity:.6;
}
#title{
	position:absolute;
	z-index:10;
	font-family: 'Open Sans', sans-serif;
font-size:45px;
width:400px;
left:200px;
top:100px;
  color:white;
}
