@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	background-color: #000000; /* Black background */
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#mainBox {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

canvas {
	position: absolute;
	opacity: 1.0;
	background-color: #000000; /* Black background */
}

