@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* React Colorful styles */
.react-colorful {
  width: 100% !important;
  height: 200px;
}

.react-colorful__saturation {
  border-radius: 8px 8px 0 0;
}

.react-colorful__hue {
  border-radius: 0 0 8px 8px;
  margin-top: 8px;
}
